* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/index_img/bacground.jpg) no-repeat;
    display: flex;
    justify-content: center;
    width: 1920px;
    margin: auto;
}