*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 3.125rem;
  height: 100%;
  z-index: 999; }
  nav .nav-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1.25rem 0.625rem;
    background-color: white;
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2); }
    nav .nav-wrap .hamburger {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 3.125rem;
      cursor: pointer; }
      nav .nav-wrap .hamburger span {
        position: relative;
        display: block;
        width: 100%;
        height: 0.125rem;
        background-color: #3498db; }
        nav .nav-wrap .hamburger span:before, nav .nav-wrap .hamburger span:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 0.125rem;
          background-color: #3498db; }
        nav .nav-wrap .hamburger span:before {
          -webkit-transform: translateY(-0.375rem);
          -ms-transform: translateY(-0.375rem);
          transform: translateY(-0.375rem);
          -webkit-animation: burger1 250ms linear;
          animation: burger1 250ms linear; }
        nav .nav-wrap .hamburger span:after {
          -webkit-transform: translateY(0.375rem);
          -ms-transform: translateY(0.375rem);
          transform: translateY(0.375rem);
          -webkit-animation: burger2 250ms linear;
          animation: burger2 250ms linear; }

@-webkit-keyframes burger1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg); } }

@keyframes burger1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg); } }

@-webkit-keyframes burger2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(5px) rotate(0deg);
    transform: translateY(5px) rotate(0deg); } }

@keyframes burger2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(5px) rotate(0deg);
    transform: translateY(5px) rotate(0deg); } }
    nav .nav-wrap .menu-bg {
      position: fixed;
      top: 0;
      left: -3.125rem;
      width: 0%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      z-index: -1; }
      nav .nav-wrap .menu-bg a {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 0%;
        height: 25vh;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        overflow: hidden;
        -webkit-transition: width 0.75s ease;
        -o-transition: width 0.75s ease;
        transition: width 0.75s ease;
        color: white;
        font-size: 2.25rem;
        font-weight: bold;
        text-decoration: none; }
        nav .nav-wrap .menu-bg a:nth-of-type(2) {
          -webkit-transition-delay: 0.5625s;
          -o-transition-delay: 0.5625s;
          transition-delay: 0.5625s; }
        nav .nav-wrap .menu-bg a:nth-of-type(3) {
          -webkit-transition-delay: 0.375s;
          -o-transition-delay: 0.375s;
          transition-delay: 0.375s; }
        nav .nav-wrap .menu-bg a:nth-of-type(4) {
          -webkit-transition-delay: 0.1875s;
          -o-transition-delay: 0.1875s;
          transition-delay: 0.1875s; }
        nav .nav-wrap .menu-bg a:hover {
          background-color: #3498db;
          -webkit-transition: background-color 500ms linear !important;
          -o-transition: background-color 500ms linear !important;
          transition: background-color 500ms linear !important; }
    nav .nav-wrap #hamburger {
      display: none; }
      nav .nav-wrap #hamburger:checked ~ .hamburger span {
        display: block;
        width: 100%;
        background-color: white; }
        nav .nav-wrap #hamburger:checked ~ .hamburger span:before, nav .nav-wrap #hamburger:checked ~ .hamburger span:after {
          background-color: #3498db;
          -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
          transform-origin: center center; }
        nav .nav-wrap #hamburger:checked ~ .hamburger span:before {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-animation: burger3 250ms linear;
          animation: burger3 250ms linear; }
        nav .nav-wrap #hamburger:checked ~ .hamburger span:after {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-animation: burger4 250ms linear;
          animation: burger4 250ms linear; }

@-webkit-keyframes burger3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); } }

@keyframes burger3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); } }

@-webkit-keyframes burger4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg); } }

@keyframes burger4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg); } }
      nav .nav-wrap #hamburger:checked ~ .menu-bg {
        left: 3.125rem;
        width: 100%;
        margin: 0;
        padding: 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        nav .nav-wrap #hamburger:checked ~ .menu-bg a {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          height: 25vh;
          margin: 0;
          padding: 1.875rem 0 1.875rem 3.125rem;
          background-color: rgba(0, 0, 0, 0.8);
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          overflow: hidden;
          -webkit-transition: width 0.75s ease;
          -o-transition: width 0.75s ease;
          transition: width 0.75s ease; }
          nav .nav-wrap #hamburger:checked ~ .menu-bg a:nth-of-type(1) {
            -webkit-transition-delay: 0.5625s;
            -o-transition-delay: 0.5625s;
            transition-delay: 0.5625s; }
          nav .nav-wrap #hamburger:checked ~ .menu-bg a:nth-of-type(2) {
            -webkit-transition-delay: 0.375s;
            -o-transition-delay: 0.375s;
            transition-delay: 0.375s; }
          nav .nav-wrap #hamburger:checked ~ .menu-bg a:nth-of-type(3) {
            -webkit-transition-delay: 0.1875s;
            -o-transition-delay: 0.1875s;
            transition-delay: 0.1875s; }
          nav .nav-wrap #hamburger:checked ~ .menu-bg a:hover {
            background-color: #3498db;
            -webkit-transition: background-color 500ms linear !important;
            -o-transition: background-color 500ms linear !important;
            transition: background-color 500ms linear !important; }

.header {
  display: block;
  min-width: 320px;
  height: auto;
  margin: auto;
  background: seashell;
  /*
background-image:linear-gradient(rgba(0, 0, 0,0.3), rgba(0, 0, 0, 0.3)), url(../image/home/introduction_320_1.jpg); 
background-size: cover;
background-repeat: no-repeat;
background-position: center;
*/ }
  .header_slides {
    display: none; }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: "";
    -ms-flex-align: "";
    align-items: "";
    -ms-flex-line-pack: "";
    align-content: "";
    list-style: none;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0; }
    .header-list-item {
      padding-right: 0.3125rem; }
    .header-list-link {
      font-size: 0.625rem;
      font-family: "Open Sans", sans-serif;
      color: #58230D;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      padding-bottom: 0.3125rem; }
      .header-list-link:hover {
        text-decoration: none;
        color: #e74c3c;
        border-bottom: solid 0.0625rem;
        border-color: #e74c3c; }
  .header-box {
    padding-top: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-box-title, .header-box-subtitle, .header-box-text {
      font-size: "";
      font-family: "Open Sans", sans-serif;
      color: #58230D;
      text-align: justify;
      margin-bottom: 0;
      margin-top: 0; }
    .header-box-title {
      font-size: 0.875rem;
      font-weight: bold; }
    .header-box-subtitle {
      padding-top: 0.625rem;
      font-size: 0.9375rem;
      text-align: center;
      -ms-flex-line-pack: center;
      align-content: center; }
    .header-box-text {
      font-size: 0.9375rem;
      width: 80%;
      text-indent: 1.25rem; }
    .header-box-trait-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: "";
      flex-wrap: "";
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: "";
      align-content: "";
      margin-top: 0.625rem;
      margin-bottom: 0.625rem; }
      .header-box-trait-box-point {
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 0.625rem;
        background-color: #e74c3c;
        margin: 0 0.3125rem 0 0.3125rem; }
      .header-box-trait-box-trait {
        width: 4.6875rem;
        height: 0.125rem;
        background-color: #58230D; }
    .header-box-logo-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header-box-logo {
      width: 100%;
      height: auto; }
  .header-link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: "";
    flex-wrap: "";
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: "";
    -ms-flex-align: "";
    align-items: "";
    -ms-flex-line-pack: "";
    align-content: "";
    padding-bottom: 1.875rem; }
  .header-link {
    font-size: 0.625rem;
    font-family: "Open Sans", sans-serif;
    color: #58230D;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 6.25rem;
    height: 0.625rem;
    border: solid 1px #58230D;
    padding: 0.625rem;
    text-align: center; }
    .header-link:hover {
      border: none;
      font-size: 0.625rem;
      font-family: "Open Sans", sans-serif;
      color: #58230D;
      text-decoration: none;
      text-transform: "";
      background-color: #e74c3c; }

.mob {
  display: none; }

/*
 .home{
    background-image:linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), url(../image/home/introduction_320_1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
*/
/*

@media (min-width 768px){
    .header {
        display: flex;
        min-width: 100%;
        min-height: px-to-rem(1000px);
        margin: auto;
        &_slides li{
          // @include flex(flex, '', center, center, center);
           width:100%;
           height: 100vh;
            margin:0;
            padding:0;
            z-index:-2; 
            background:white;
           // width:100%;
           // height: 100%;
            position:absolute;
            top:0;
           left:0;
           // / 
            display: flex;
            min-width: 100%;
            min-height: px-to-rem(1000px);
            margin: auto;
            ///
            background-size:contain;
            //background-repeat:none;
           // opacity:0;
            
            animation: anim_slides 18s linear infinite 0s;
        }
        &_slides li:nth-child(1){
           background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/home/slide_header1.jpg); 
        clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
        //background-size:contain;
        //animation: anim_slides 18s linear infinite 0s;
        }
        &_slides li:nth-child(2){
             
        animation-delay: 6.0s;
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/home/slide_header2.jpg);
        clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
        //background-size:contain;
       // animation: anim_slides 18s linear infinite 0s;
        }
        &_slides li:nth-child(3){
           
         //  animation: anim_slides 18s linear infinite 0s;
        
        animation-delay: 12.0s;
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/home/slide_header3.jpg); 
        clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
        //background-size:contain;
        }
    
    
        @-webkit-keyframes anim_slides {
            0% {opacity:0.25;}
            6% {opacity:1;}
            24% {opacity:1;}
            30% {opacity:0.5;}
            100% {opacity:0.25;}
            }
            @-moz-keyframes anim_slides {
            0% {opacity:0.25;}
            6% {opacity:1;}
            24% {opacity:1;}
            30% {opacity:0.5;}
            100% {opacity:0.25;}
            }
    
        //background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/header.jpg);
        //clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
     //  background-size: cover;
       
       
    }
}
*/
.introduction_text {
  font-size: "";
  font-family: "Open Sans", sans-serif;
  color: #58230D;
  text-align: justify;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.9375rem;
  width: 80%;
  text-indent: 1.25rem; }

.introduction_box {
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: "";
  flex-wrap: "";
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.intro {
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  height: auto; }
  .intro-img {
    padding-top: 20px;
    width: 90%;
    height: auto; }
  .intro-link {
    width: 90%;
    padding-top: 20px;
    text-align: justify;
    text-indent: 1.25rem;
    font-size: 0.9375rem;
    font-family: "Open Sans", sans-serif;
    color: #58230D;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    padding-bottom: 0.3125rem; }
    .intro-link:hover {
      text-decoration: none;
      color: #e74c3c;
      border-bottom: solid 0.0625rem;
      border-color: #e74c3c; }

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 95%; }
  .review-video {
    width: 90%; }

.main {
  display: block;
  min-width: 320px;
  height: auto;
  margin: auto;
  background: seashell;
  /*
background-image:linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), url(../image/home/introduction_320_2.jpg); 
background-size: cover;
background-repeat: no-repeat;
background-position: center;
*/ }

body {
  margin-left: 50px; }

/*
@import 'who';
@import 'about';
@import 'services';
@import 'pricing';
@import 'clients';
@import 'blog';
@import 'contact';
@import 'promo';
@import 'footer';
@import 'slider_home';*/
