.header{
display: block;
min-width: 320px;
height: 100vh;
margin: auto;
background-image:linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), url(../image/home/introduction_320_1.jpg); 
background-size: cover;
background-repeat: no-repeat;
background-position: center;

&_slides{
    display: none;
}
&-list {
    @include flex(flex, '', center, '', '');
    list-style: none;
    margin-top: px-to-rem(10px);
    margin-bottom: px-to-rem(10px);
    padding:0;
    &-item {
        padding-right: px-to-rem(5px);
    }
    &-link {
        @include font-settings(px-to-rem(10px), $header-link-font, $header-link-color);
        font-weight: bold;
        @include text-decor(none, uppercase);
        padding-bottom: px-to-rem(5px);
        &:hover {
            text-decoration: none;
            color: $header-link-hover-color;
            border-bottom: solid px-to-rem(1px);
            border-color: $header-link-hover-color;
        }
    }
}
&-box {
    padding-top: px-to-rem(10px);
    @include flex(flex, '', center, center, center);
    flex-direction: column;
    margin-bottom: px-to-rem(40px);
    &-title,
    &-subtitle,
    &-text {
        @include font-settings('', $header-link-font, $header-link-color);
        text-align: justify;
        margin-bottom: 0;
        margin-top: 0;
    }
    &-title {
        font-size: px-to-rem(14px);
        font-weight: bold;
    }
    &-subtitle {
        padding-top: px-to-rem(10px);
        font-size: px-to-rem(20px);
        text-align: center;
    }
    &-text {
        font-size: px-to-rem(15px);
        width: 80%;
        text-indent: px-to-rem(20px);
    }
    &-trait-box {
        @include flex(flex, '', center, center, '');
        margin-top: px-to-rem(10px);
        margin-bottom: px-to-rem(10px);
        &-point {
            @include size(px-to-rem(10px), px-to-rem(10px));
            border-radius: px-to-rem(10px);
            background-color: $header-link-hover-color;
            margin: 0 px-to-rem(5px) 0 px-to-rem(5px);
        }
        &-trait {
            @include size(px-to-rem(75px), px-to-rem(2px));
            background-color: $header-link-color;
        }
    }
    
  
}
&-link-box {
    @include flex(flex, '', center, '', '');
}
&-link {
    @include font-settings(px-to-rem(10px), $header-link-font, $header-link-color);
    font-weight: bold;
    @include text-decor(none, uppercase);
    display: block;
    @include size(px-to-rem(100px), px-to-rem(10px));
    border: solid 1px $header-link-color;
   padding: px-to-rem(10px);
   text-align: center;
  &:hover{
    border: none;
    @include font-settings(px-to-rem(10px), $header-link-font, $header-link-color);
    @include text-decor(none, '');
    background-color: $header-link-hover-color;
   }
}
}
/*
 .home{
    background-image:linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)), url(../image/home/introduction_320_1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
*/
/*

@media (min-width 768px){
    .header {
        display: flex;
        min-width: 100%;
        min-height: px-to-rem(1000px);
        margin: auto;
        &_slides li{
          // @include flex(flex, '', center, center, center);
           width:100%;
           height: 100vh;
            margin:0;
            padding:0;
            z-index:-2; 
            background:white;
           // width:100%;
           // height: 100%;
            position:absolute;
            top:0;
           left:0;
           // / 
            display: flex;
            min-width: 100%;
            min-height: px-to-rem(1000px);
            margin: auto;
            ///
            background-size:contain;
            //background-repeat:none;
           // opacity:0;
            
            animation: anim_slides 18s linear infinite 0s;
        }
        &_slides li:nth-child(1){
           background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/home/slide_header1.jpg); 
        clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
        //background-size:contain;
        //animation: anim_slides 18s linear infinite 0s;
        }
        &_slides li:nth-child(2){
             
        animation-delay: 6.0s;
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/home/slide_header2.jpg);
        clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
        //background-size:contain;
       // animation: anim_slides 18s linear infinite 0s;
        }
        &_slides li:nth-child(3){
           
         //  animation: anim_slides 18s linear infinite 0s;
        
        animation-delay: 12.0s;
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/home/slide_header3.jpg); 
        clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
        //background-size:contain;
        }
    
    
        @-webkit-keyframes anim_slides {
            0% {opacity:0.25;}
            6% {opacity:1;}
            24% {opacity:1;}
            30% {opacity:0.5;}
            100% {opacity:0.25;}
            }
            @-moz-keyframes anim_slides {
            0% {opacity:0.25;}
            6% {opacity:1;}
            24% {opacity:1;}
            30% {opacity:0.5;}
            100% {opacity:0.25;}
            }
    
        //background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/header.jpg);
        //clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
     //  background-size: cover;
       
       
    }
}
*/