.introduction_text{
    @include font-settings('', $header-link-font, $header-link-color);
    text-align: justify;
    margin-bottom: 0;
    margin-top: 0;
    font-size: px-to-rem(15px);
    width: 80%;
    text-indent: px-to-rem(20px);

}
.introduction_box{
    padding-top: px-to-rem(10px);
    @include flex(flex, '', center, center, center);
    flex-direction: column;
}
.intro{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;

  &-img{
      padding-top: 20px;
    width: 90%;
    height: auto;
  }  
  &-link{
    width: 90%;
      padding-top: 20px;
     text-align: justify;
    //  font-size: px-to-rem(15px);
      text-indent: px-to-rem(20px);
    @include font-settings(px-to-rem(15px), $header-link-font, $header-link-color);
    font-weight: bold;
    @include text-decor(none,none);
    padding-bottom: px-to-rem(5px);
    &:hover {
        text-decoration: none;
        color: $header-link-hover-color;
        border-bottom: solid px-to-rem(1px);
        border-color: $header-link-hover-color;
    }
}
  }